/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html {
  overflow-y: scroll;
}

body {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 0px;
  padding-left: 0px;
  background: #fff;
}

.contain {
  width: 940px; 
  margin: auto;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  padding: 0 10px 0 10px;
  margin-bottom: 0px;
  display: inline-block;
  #background: #ffffff url('/images/h1-back.png') no-repeat center center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  border-width: 0 0 1pt 0;
}

.heading {
  text-align: center;
}

.main {
  margin-top: 0px;
  padding: 0;
}

#klavins-lab {
 position: absolute;
 top: 0px;
 left: 30px;
 z-index: 1;
 font-size: 36pt;
 margin: 0;
 padding: 0;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 letter-spacing: -1px;
}

#synth-bio {
 position: absolute;
 top: 45px;
 left: 90px;
 z-index: 1;
 font-size: 20pt;
 color: #391;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 letter-spacing: 1px;
 font-weight: bold;
}


.home {
  padding: 40px 0px;
  text-align: center;
}

.navbar-custom {
  margin: 0 20px 0 0;
  background-color:rgba(255,255,255,0.75);
  /*background-image: url('/images/banner.png'); /*no-repeat fixed top;*/ 
  border: none;
  height: 60px;
}

.nav > li {
}

.nav > li > a:hover {
  color: #051 !important;
}

.nav > li > a {
  color: #000 !important;
  padding-top: 23px;
  height: 60px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-brand {
  font-size: 24pt;
  color: #160 !important;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 5px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-brand:hover {
  color: black !important;
}

.highlight {
  background: rgba(55,180,45,0.1);
}

.footer {
  position: fixed; 
  bottom: 0;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 5px;
  width: 100%;
}

/******************************/
/* publication figures
/******************************/

.paper-figure {
/*  border: 1pt solid #eee; */
  float: right;
  padding: 10px;
  margin: 5px;
  width: 25%;
  background: white;
}

.paper-figure img {
  width: 100%
}

.paper-figure p {
  margin-top: 10px;
  font-size: 10pt;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}


/*****************************************************************************/
/*
/* Papers
/*
/*****************************************************************************/

.pubs li {
  list-style-type: none;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}

.pubs .num {
  color: #aaa;
} 

.clickable-heading {
  cursor: pointer;
}


/*****************************************************************************/
/*
/* People
/*
/*****************************************************************************/

.people {
  margin-top: 10px;
}

.person {
  margin: 10px;
  padding: 0 0 0 0;

  width: 120px;
  float: left;
  display:inline-block;
#  outline: 1pt dashed green;
}

.arrow {
  width: 40px;
}

.person a {
  color: white;
}

.description {
  padding: 10px;
  margin: 10px;
  font-size: 16pt;
  text-align: right;
  color: black;
  width: 120px;
  background: transparent; 
  height: 186px;
  float: left;
  display: inline-block;
  #outline: 1pt dashed orange;
}

.adescription {
  padding: 10px;
  margin: 10px;
  font-size: 16pt;
  text-align: right;
  color: black;
  width: 120px;
  background: transparent;
  height: 210px;
  float: left;
  display: inline-block;
  #outline: 1pt dashed orange;
}

.img-person {
  width: 120px;
}

.person-name {
  font-weight: bold;
  font-size: 10pt;
  color: white;
  background: black;
  padding-left: 10px;
  height: 22px;
}

.person-details {
  font-size: 8pt;
  padding: 4px 10px 4px 10px;
  height: 44px;
  background: transparent; 
}

.almuni-details a {
  color: blue;
}

.almuni-details {
  font-size: 8pt;
  padding: 4px 10px 4px 10px;
  height: 68px;
  background: transparent;
}

.note {
  color: #aaf;
  font-size: 7pt;
}



/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  border: 1pt solid #eee;
  border-radius: 5pt;
  padding: 5pt;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}



/***********/
/* Software
/***********/


.software-box {

  display:block;
}

.software-icon {
  margin-left:auto;
  margin-right:auto;
  width: 200px;
  display:block;
}

.software-icon-box {
  #border: 1pt solid #eee;
  padding: 20px;
  width: 100%;
  height: 230px;
  margin-left:auto;
  margin-right:auto;
}

.software-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align:center;
}

.software-tag {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;  
  text-align:center;
}

.software-description p {
  text-align:justify;
}

/**************************************************/
/* Front page /*
/**************************************************/

.about {
}

.about p {
  text-align:justify;
}

.carousel-inner {
  margin-top: 20px;
  width: 940px;
  height: 420px;
  position: relative;
}

.carousel {
  width: 940px;
  height: 420px;
  padding: 0 !important;;
  #margin: 0 !important;
}

.slide {
  padding: 0 !important;;
  #margin: 0 !important;
}

.main-image {
  width: 940px;
  height: 420px;
}

.about-section {
  width: 940px;
}

.carousel-caption {
#  outline: 2px solid red;
  height: 400px;
  text-align: right;
}

.carousel-caption h1 {
  color: yellow;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: 5px;
  font-size: 20pt;
  margin: 0;
  padding: 0;
}

.carousel-caption h2 {
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  letter-spacing: 5px;
  font-size: 14pt;
  margin: 0;
  padding: 0;
}

.address {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.newsitem {
  font-size: 12px;
  margin: 0 0 5px 0; 
  text-align:justify;
}

.foot {
  margin: 20px auto 0 auto;
  width: auto;
  height: auto;
  display: inline-block;
}

.funder {
  float: left;
  padding: 20px;
}

.logo {
  height: 60px;
}

.funding {
  font-weight: bold;
  font-size: 14px;
  padding-right: 10px;
}

/****************************************/
/* Personal Pages            
/****************************************/

.personal {
  margin: 50px auto 0 auto;
  width: 940px;
}

.photo {
  padding: 20px;
  width: 100%;
  /*border: 1pt solid #eee; */
}
