.title {
  font-weight: bold;
  text-align: center

}

.subtitle {
  text-align: center
}

.time {
  width: 20% !important;
}

.event {
  width: 30%  !important;
}

.talk {
  width: 50%  !important;
}

.bigrow {
  padding-bottom: 26px !important;
}