---
layout: aquarium_layout
title: Aquarium People
---

<div class="row main-row">

<h1 style='text-align: center'>Core Group</h1>
  
<ul class='people-list'>
  {% for p in site.data.aquarium-people.people %}
    <li>
      {% if p.link %}
        <a href="{{ p.link }}">
      {% else %}
        <a href="#">
      {% endif %}
      <span class='aname'>{{ p.name }}</span>:
      <span class='apos'>{{ p.position }}</span>,
      <span class='aloc'>{{ p.institution }}</span>
    </a></li>
  {% endfor %}
</ul>

<h1 style='text-align: center'>Collaborators</h1>
  
<ul class='people-list'>
  {% for p in site.data.aquarium-people.collaborators %}
    <li>
      {% if p.link %}
        <a href="{{ p.link }}">
      {% else %}
        <a href="#">
      {% endif %}
      <span class='aname'>{{ p.name }}</span>:
      <span class='apos'>{{ p.position }}</span>,
      <span class='aloc'>{{ p.institution }}</span>
    </a></li>
  {% endfor %}
</ul>
  
</div>