---
layout: aquarium_layout
title: Aquarium
---

<div class="row main-row">
  <div class="col-xs-3 news" id="leftCol">

    <ul class="nav nav-stacked" id="sidebar">
        <li><b>News</b></li>
      {% for post in site.posts %}
        <li><span class='date'>{{ post.date | date: "%b %d, %Y") }}</span><a href="#{{ post.title }}">{{ post.title }}</a></li>
      {% endfor %}
        <li><b>Links</b></li>
        <li class='link'><a href='index.html'>Klavins Lab</a></li>
        <li class='link'><a href='http://istc-pc.washington.edu/'>ISTC</a></li>
        <li class='link'><a href='http://molecular-programming.org/'>Molecular Programming</a></li>
    </ul>
    
  </div>  

  <div class="col-xs-9">

    {% for post in site.posts %}
        <h3 id="{{ post.title }}">{{ post.title }}</h3>
    <p><span class='date'>{{ post.date | date: "%A, %B %d, %Y") }}</span><br />{{ post.content }}</p>
    {% endfor %}

      </div> 
  
<script>
  document.getElementById('nav-software').className += " highlight";
</script>