---
layout: default
title: Klavins Lab
---

<div id="home">

  <br />

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval=5000 style="margin: auto">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="images/gro-big.png" class='main-image'>
        <div class="carousel-caption">
          <h1>Multicellular</h1>
          <h2>Design</h2>
        </div>
      </div>

      <div class="item inactive">
        <img src="images/bistable-time.png" class='main-image'>
        <div class="carousel-caption">
          <h1>Synthetic</h1>
          <h2>State</h2>
        </div>
      </div>

      <div class="item inactive">
        <img src="images/auxinyeast.png" class='main-image'>
        <div class="carousel-caption">
          <h1>Gene Circuit</h1>
          <h2>Characterization</h2>
        </div>
      </div>

      <div class="item inactive">
        <img src="images/aquarium-carousel.png" class='main-image'>
        <div class="carousel-caption">
          <h1><a href='https://www.aquarium.bio'>Protocols</a></h1>
          <h2>as Code</h2>
        </div>
      </div>

      <div class="item inactive">
        <img src="images/turbido-chambers.png" class='main-image'>
        <div class="carousel-caption">
          <h1>Continuous</h1>
          <h2>Culture</h2>
        </div>
      </div>

      <div class="item inactive">
        <img src="images/ppt-movement.jpg" class='main-image'>
        <div class="carousel-caption">
          <h1>Self Organizing</h1>
          <h2>Systems</h2>
        </div>
      </div>

    </div> <!-- end carousel-inner -->

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div> <!-- end carousel -->

  <div class='row about-section' style="margin: auto;">

    <div class='col-xs-4 about'>
      <h2>About</h2>

      <div class='paper-figure' style='width: 100%'>
        <a href='images/eric-lecture.png'><img src='images/eric-lecture.png'></img></a>
        <p>Eric Klavins, Professor</p>
      </div>

      <p>
The Klavins lab develops synthetic living systems, re-engineered organisms, and engineered parts for existing organisms. The emphasis is on designing gene circuits and cell-cell communication systems that enable novel multicellular behaviors in bacteria, yeast, and plants. Klavins is interested in the full stack from modeling and design to fabrication and testing of new living systems. His current projects include synthetic multicellular systems, machine-learning enabled protein engineering, and laboratory automation.
      </p>

      <p><a href="https://www.youtube.com/watch?v=mi12pXq_yIA">TEDx: Programming Biology</a></p>
    </div>

    <div class='col-xs-4 about'>
      <h2>News</h2>
      {% for n in site.data.news limit:9 %}
      {% include news.html n=n %}
      {% endfor %}
    </div>


    <div class='col-xs-4 about'>

      <h2>Open Positions</h2>

      <p>We frequently have positions available for postdoctoral scholars, graduate
        students, staff members, and undergraduate
        assistants. See <a href="positions.html">here</a> for more information.</p>

      <h2>Contact Info</h2>

      <h4 style='text-decoration: underline'>Address</h4>
      <ul class='address'>
        <li><b>Klavins Lab</b></li>
        <li>University of Washington </li>
        <li>Campus Box 352500 </li>
        <li>Seattle, WA 98195 </li>
      </ul>

      <h4 style='text-decoration: underline'>Links</h4>
      <ul class='address'>
        <li><a href='http://uwbiofab.org'>UW BIOFAB</a></li>
        <li><a href='http://klavinslab.org/aquaverse/'>Aquarium</a></li>
        <li><a href='http://www.ece.uw.edu'>Electrical and Computer Engineering</a></li>
        <li><a href='http://cs.washington.edu'>Computer Science and Engineering</a></li>
        <li><a href='http://bioe.uw.edu'>Bioengineering</a></li>
        <li><a href='http://depts.washington.edu/uwcsb/'>Center for Synthetic Biology</a></li>
      </ul>

      <br />

      <a href="https://twitter.com/hashtag/klavinslab?src=hash" class="twitter-follow-button" data-show-count="false">#klavinslab</a>

    </div>

  </div> <!-- end about -->



</div> <!-- end home -->

<script>
  document.getElementById('nav-index').className += " highlight";
</script>
