---
layout: default
title: Klavins Lab | People
---

<div class='heading'><h1>People</h1></div>

<div id='people'>

{% include group.html group=site.data.people.pi name='PI' %}
  
{% comment %}
  {% include group.html group=site.data.people.postdocs name='POSTDOC' %}
{% endcomment %}
  
{% include group.html group=site.data.people.grads    name='GRADS' %}
{% include group.html group=site.data.people.visitors name='VISITORS' %}
{% include group.html group=site.data.people.staff    name='STAFF' %}
{% include group.html group=site.data.people.ugs      name='UNDER<br \>GRADS' %}
  

<div style="clear:both;"></div>

<br />
<br />

{% include group.html group=site.data.people.alumni   name='ALUMNI' %}
  
</div>

<script>
  document.getElementById('nav-people').className += " highlight";
</script>