---
layout: default
title: Klavins Lab | People
---

<div class='contain'>

  <div class='heading'>
    <h1 style='margin-bottom: 15px'>People</h1>
  </div>

  <div id='people'>

    {% include group.html group=site.data.people.pi name='PI' %}
    {% include group.html group=site.data.people.postdocs name='POSTDOC' %}
    {% include group.html group=site.data.people.grads name='PHD' %}
    <!-- {% include group.html group=site.data.people.masters  name='MASTERS' %} -->
    <!-- {% include group.html group=site.data.people.visitors name='VISIT<br />ORS' %} -->
    <!-- {% include group.html group=site.data.people.staff name='STAFF' %} -->
    {% include group.html group=site.data.people.ugs name='UNDER<br \>GRAD' %}
    {% include group.html group=site.data.people.alumni name='ALUMNI' %}

    <div style='clear: both;'></div>

  </div>

</div>

<script>
  document.getElementById('nav-people').className += " highlight";
</script>
