---
layout: default
title: Klavins Lab | Publications
---

<div class='contain'>

<div class='heading'>
 <h1>
   <span id='papers-heading' class='clickable-heading'>Papers</span>
   <span id='reports-heading' class='clickable-heading' style='color: #ddd'>Reports</span>
   <span id='theses-heading' class='clickable-heading' style='color: #ddd'>Theses</span>  
 </h1>
</div>

<div id='papers'>

  {% assign y = 3000 %}

  <ul class='pubs'>
    {% for p in site.data.publications %}
      {% if y != p.year %}
        {% assign y = p.year %}
        <h3> {{ y }} </h3>
      {% endif %}
      {% include paper.html param=p %}
    {% endfor %}
  </ul>

</div>

<div id='reports'>

  {% assign y = 3000 %}

  <ul class='pubs'>
    {% for p in site.data.reports %}
      {% if y != p.year %}
        {% assign y = p.year %}
        <h3> {{ y }} </h3>
      {% endif %}
      {% include paper.html param=p %}
    {% endfor %}
  </ul>

</div>

<div id='theses'>

  {% assign y = 3000 %}

  <ul class='pubs'>
    {% for p in site.data.theses %}
      {% if y != p.year %}
        {% assign y = p.year %}
        <h3> {{ y }} </h3>
      {% endif %}
      {% include paper.html param=p %}
    {% endfor %}
  </ul>

</div>

<br />
<div class='clear: both'></div>

<script>


  document.getElementById('nav-publications').className += "highlight";

  var p = document.getElementById("papers-heading");
  var r = document.getElementById("reports-heading"); 
  var t = document.getElementById("theses-heading");

  p.addEventListener('click',function() {show(this)});
  r.addEventListener('click',function() {show(this)});
  t.addEventListener('click',function() {show(this)});

   function show(ob,n) {

      var name = n;

      if ( arguments.length != 2 ) {
        var name = ob.id.split('-')[0];
      } 

      console.log("name = " + name);

      p.style.color = '#ddd';
      r.style.color = '#ddd';
      t.style.color = '#ddd';

      document.getElementById("papers").style.display = 'none';
      document.getElementById("reports").style.display = 'none'; 
      document.getElementById("theses").style.display = 'none';

      document.getElementById(name+"-heading").style.color = 'black';      
      document.getElementById(name).style.display = 'block';

      setCookie("paper-type", name, 30);

   }

    var choice=getCookie("paper-type");

    if (choice != "") {
      show(null,choice);
    } else {
      setCookie("paper-type", 'papers', 30);
    }

</script>

</div>

