---
layout: default
title: Klavins Lab | S. Shelly Jang
---

<div class='contain'>

<div class='row personal'>

  <div class='col-xs-4'><img class='photo' src='/images/jang.jpg'></img></div>

  <div class='col-xs-8'>
    <h2>S. Shelly Jang</h2>
    <p>Graduate Student<br />
    Electrical Engineering<br />
    University of Washington<br />
    Seattle, WA 98195<br />
    <br />
    <a href="http://www.shellyjang.com">Personal Webpage</a>
  </div>

</div>

<br />



<h4>Education</h4>

<ul>

  <li> M.A.Sc., <a href="http://www.chbe.ubc.ca/" class="external
  text" title="http://www.chbe.ubc.ca/" rel="nofollow">Chemical and
  Biological Engineering</a>, University of British Columbia, Vancouver, BC, Canada, 2009.</li>

  <li> B.S., <a href="http://www.cheme.washington.edu/"
  class="external text" title="http://www.cheme.washington.edu/"
  rel="nofollow">Chemical Engineering</a>, Minor in Chemistry and
  Mathematics, University of Washington, Seattle, WA, USA, 2007</li>
  
</ul>




<h4>Publications</h4>

<ul class='pubs'>

   {% include cite.html id='pnas14' %}
   {% include cite.html id='pp13' %}
   {% include cite.html id='acs12' %}
   {% include cite.html id='pp12' %}

<li class='paper'> S. S. Jang, and <a href="http://www.chml.ubc.ca/faculty-staff/gopaluni.php" class="external text" title="http://www.chml.ubc.ca/faculty-staff/gopaluni.php" rel="nofollow">R. B. Gopaluni</a>. <b>Parameter estimation in nonlinear chemical and biological processes with unmeasured variables from small data sets</b>. <i>Chemical Engineering Science</i>, (2011) <a href="http://www.sciencedirect.com/science/article/pii/S0009250911001953" class="external text" title="http://www.sciencedirect.com/science/article/pii/S0009250911001953" rel="nofollow"><span class='glyphicon glyphicon-link'></span></a>.
</li>

<li class='paper'> S. S. Jang, H. De La Hoz, A. Ben-Zvi, W. C. McCaffrey, and <a href="http://www.chml.ubc.ca/faculty-staff/gopaluni.php" class="external text" title="http://www.chml.ubc.ca/faculty-staff/gopaluni.php" rel="nofollow">R. B. Gopaluni</a>. <b>Parameter estimation in models with hidden variables&nbsp;: An application to a biotech process</b>. <i>Canadian Journal of Chemical Engineering</i>, (2011) <a href="http://onlinelibrary.wiley.com/doi/10.1002/cjce.20557/abstract" class="external text" title="http://onlinelibrary.wiley.com/doi/10.1002/cjce.20557/abstract" rel="nofollow"><span class='glyphicon glyphicon-link'></span></a>.
</li>

<li class='paper'> S. S. Jang, H. De La Hoz, A. Ben-Zvi, and <a href="http://www.chml.ubc.ca/faculty-staff/gopaluni.php" class="external text" title="http://www.chml.ubc.ca/faculty-staff/gopaluni.php" rel="nofollow">R. B. Gopaluni</a>.  <b>Parameter Estimation using Scarce and Irregular data from Multiple Experiments</b>. <i>Proceedings of Advanced Control in Industrial Process</i>, 2008.
</li>
  
</ul>

</div>
