<div class='row about-section' style="margin: 0 auto 0 auto; text-align: center;">
  
  <div class='row foot' style='margin: auto;'>

    <div class='funder'>
      <a href='http://www.nsf.gov'>
        <img src='images/nsf.gif' class='logo'></img>
      </a>
    </div>
    
    <div class='funder'>
      <a href='http://www.src.org'>
        <img src='images/src.jpg'  class='logo'></img>
      </a>
    </div>

    <div class='funder'>
      <a href='http://istc-pc.washington.edu/'>
        <img src='images/intel.png'  class='logo'></img>
      </a>
    </div>

    <div class='funder'>
      <a href='http://www.pgafamilyfoundation.org/'>
        <img src='images/pgaff.png' class='logo' style=' padding: 10px 0 10px 0;'></img>
      </a>
    </div>
    
    <div style='clear: both'></div>
    
  </div> <!-- end foot -->

</div>