<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="https://code.jquery.com/jquery.js"></script>
         <script src="/js/bootstrap.min.js"></script>

    </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="extra" href="/people.html">People</a></li>
            <li><a class="extra" href="/">Software</a></li>
            <li><a class="extra" href="/">Hardware</a></li>
            <li><a class="extra" href="/">Wetware</a></li> 
            <li><a class="extra" href="/">Publications</a></li>
            <li><a class="extra" href="/">Courses</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>

    <div class="footer">
          <div class="contact">
              <p>
                Eric Klavins<br />
                Associate Professor<br />
                University of Washington
              </p>
            </div>
        </div>
    </div>

  </body>
    
</html>
